<%= render :template => 'templates/navbar' %>

<!-- todo possibility for disabled in dropdown-->
<div class="container">
  <%= render :template =>  'templates/table', locals: {cls: Vm, dataList: @vms, _controller: :control, dropdown: [
      { name: "Start", action: :start, method: :get, confirmText: "Start vm '{{ VALUE }}'?", confirmValueKey: 'name', class: "dropdown-item"},
      { name: "Stop", action: :stop, method: :get, confirmText: "Stop vm '{{ VALUE }}'?", confirmValueKey: 'name', class: "dropdown-item" },
      { name: "Restart", action: :restart, method: :get, confirmText: "Restart vm '{{ VALUE }}'?", confirmValueKey: 'name', class: "dropdown-item" },
      { name: "Configure", action: :configure, method: :get, confirmText: "Configure vm '{{ VALUE }}'?", confirmValueKey: 'name', class: "dropdown-item" }
  ]} %>
</div>
